@media screen and (max-width:576px) {

    .header-container{
        flex-direction: column;
    }
    .menu-item{
        display: none;
    }
    .icon-bar{
        display: block;
    }
    .navbar{
        justify-content: space-between;
        margin: 0 20px;
    }
    .headline{
        margin-left: 20px;
        text-align:start;
    }
    .headline h1{
        
        font-size: 2rem;
        
        
    }
   
    .great-vibes-regular{
        font-size: 4rem;
    }

    .change-habit-container{
        display: flex;
        flex-direction: column;
    }
    .change-habit-container-card{
        flex-direction: column;
        gap: 20px;
    }
   
}