@media screen and (max-width:576px) {

    .header-container , 
    .change-habit-container, 
    .run-extra-container,
    .cal-container, .footer {
        flex-direction: column;
    }
    .menu-item{
        display: none;
    }
    .icon-bar{
        display: block;
        margin-right: 10px;
    }
    .navbar{
        justify-content: space-between;
        margin: 0 20px;
    }
    .headline{
        margin-left: 20px;
        text-align:start;
    }
    .headline h1{
        
        font-size: 2rem;
        line-height: 50px;
        
        
    }
   
    .miama-font{
        font-size: 5rem;
        font-weight: 300;
    }
    .header-btn{
        margin: 0 auto;
        margin-right: 15px;
        display: flex;
        justify-content:space-around;
        height: 55px;
        
    }
    .btn-primary{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .club-hide{
        display: none;
    }
    .header-container-img{
        margin-top: 45px;
    }
    .workout-videos{
        
        width:40%;
        right: 70px;
        top: 30px;

    }
    .workout-videos h1{
        font-size: 2rem;
        font-weight: 600;

    }
    .video-tutorial-logo{
        width: 40%;
        left: 30px;
        top: 340px;

    }

    .change-habit-container{
        display: flex;
        flex-direction: column;
    }
    .change-habit-container-card{
        flex-direction: column;
        gap: 20px;
    }
    .run-extra-container-img{
        width: 100%;
        margin-top: 20px;
      }
      .cal-table{
        align-items: center;
        /* width: 100%; */
      }
      .cal-table h2{
        text-wrap: nowrap;
    
      }
      .cal-container{
        align-items: center;
        
        

      }
      /* meet our team  */
      .meet-team-heading {
        margin: 0 20px;
      }
      .meet-team-container-card{
        grid-template-columns: 1fr;
      }

      /* footer  */
      .footer{
        margin-left: 20px;
      }
      .get-started1{
        margin-top: 30px;
      }

}