@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

  @import url('https://fonts.cdnfonts.com/css/miama');
  .miama-font{
    font-family: 'Miama', sans-serif;
    font-size: 9rem;
    font-weight: 400;
                                                
  }
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    
    background: linear-gradient(180.00deg, #111111,rgba(15, 15, 15, 0.95) 100%);
    /* background-color: black; */
    background-repeat: no-repeat;
    /* max-width: 1440px; */
    margin: 0 auto;

  }
  .btn-primary{
    color: white;
    
    
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    text-align: center;
    
    font-weight: 600;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background-color:rgb(230, 83, 60) ;
  }
  p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    
  }

  /* heading section start here  */
  .header{
   
  }
  .navbar{
    
    align-items: center;
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
  }
  .heading-name{
    font-size: 2.25rem;
    font-weight: 800;
    color:rgb(230, 83, 60) ;
  }
  .menu-item{
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius:50px 50px 50px 50px;
    
  }
  .menu-item li {
    list-style: none;
    text-decoration: none;
    margin-right: 47px;
    padding: 8px;

  }
  .home{
    background-color: rgb(230, 83, 60);
    border-radius: 50px;
    width: 150px ;
    text-align: center;
  }
  .menu-item a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
  }
  .icon-bar{
    color: aliceblue;
    display: none;
  }
  /* nav section end here  */
  .header-container{
    max-width: 1260px;
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    gap: 20px;
    
    
    width: 100%;
  }
  .headline{
    justify-content: flex-start;
    
    width: 100%;
    
    
    
  }
  .headline h1{
    color: rgb(255, 255, 255);
    font-size: 4.87rem;
    font-weight: 900;

  }
  .headline>p{
    margin-top:1.75rem ;
    margin-bottom: 1.75rem;
    text-align:start;
  }
  .header-btn{
    
    max-width: 100%;
    
    display: flex;
    justify-content:flex-start;
    gap: 14px;
    /* position: relative; */
    text-align: center;
  }
  .black-btn{
    background-color: #111111b2;
    border: 1px solid white;
  }
  .header-container-img-card{
    width: 100%;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-container-img{
    max-width: 100%;
   
   
    position: relative;
    
  }
  .header-container-img img{
    width:100% ;
  }
  .workout-videos{
    max-width: 100%;
    max-height: 120px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: 800;
    padding:10px  15px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.034);
    position: absolute ;
    top: 140px ;
    right: 100px;

  }
  .workout-videos h1{
    font-size: 2.8rem;
    font-weight: 800;
  }
  
  .video-tutorial-logo{
    max-width: 100%;
    max-height: 120px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* text-align: center; */
    color: #fff;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    padding: 10px 10px ;
    border-radius: 8px;
    background: rgba(73, 71, 71, 0.39);
    position: absolute ;
    bottom: 80px;
    left: 30px;

  }
 
  .red-circle i{
    width: 80%;
    font-size: 3rem;
    color:rgb(230, 83, 60);
   
  }

  /* main section start here  */

  /* change-habit-container  */
  .change-habit-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0 auto;
    padding: 100px 0;
    /* margin-top: 100px; */
  }
  .change-habit-heading{
    justify-content: center;
    text-align: center;
  }
  .h1-text{
    color: aliceblue;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;
  }
  .change-habit-container-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    width: 100%;
    margin-top: 58px;
    
    
  }
  .change-habit-container-card img{
    width: 100%;
    border-radius: 50%;

  }
  .change-habit-container-card h3{
    color: aliceblue;
    font-size: 1.125em;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 6px;


  }
  .change-habit-container-card p{
    text-align: center;
  }
  /* change-habit-container end */
  main{
    background-color: black;
  }
  .run-extra{
    
    margin: 0 auto;
    margin-top: 100px;
    
    max-width:1260px ;
    border-radius: 18px;

  }
  .run-extra-container{
    background: rgb(34, 34, 34);
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    width: 100%;
    padding: 50px;
    
  }
  .run-extra-heading p{
    margin-bottom: 1em;

    

  }
  .run-extra-container-img{
    width: 40%;
  }
  .run-extra-container-img img{
    width: 100%;
    border-radius: 18px;
  }
  /* run extra container end  */
  /* bmi calculator chart start here  */
  .bmi-cal{
    
    display: flex;
    flex-direction: column;
    margin: 80px 20px;
    justify-content: flex-start;
    align-items: center;
  }
  .bmi-cal-chart{
    
    margin: 0 auto;
    display: flex;

    
  }
  .cal-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    

  }
 
 
  .cal-h3-font{
    color: aliceblue;
    font-size: 1.75em;
    font-weight: 900;
    
    
  }
  table {
    border-collapse: collapse;
    margin: 30px 0;
    font-size: 1em;
    min-width: 300px;
    border: 1px solid #555;
  }
  th, td {
      padding: 12px 15px;
      border: 1px solid #998c8c67;
  }
  th {
      background-color: #444;
      color: #fff;
  }
  td {
      background-color: #666;
      color: #fff;
  }

  .cal-ur-bmi{
    width: 60%;
  }
  .cal-ur-bmi h2{
    margin-bottom: 20px;
  }

  .form-container{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .full-width{
    grid-column: span 2;
  }
  input, select {
    width: 100%;
    padding:15px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.397);
    color: white;
    font-size: 1em;
  }
  select{
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
  }

  /* meet our team container  */
  .meet-team-container{
    max-width: 1260px;
    margin: 0 auto;
    
    margin-top: 90px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .meet-team-heading{
    text-align: center;


  }
  .meet-team-container-card{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 80px;
  }
  .profile-card {
    position: relative;
    
    border-radius: 10px;
    overflow: hidden;
    max-width:326px ;
    max-height: 276px;
}
.profile-card img {
    width: 100%;
    height: auto;
    display: block;
}

.profile-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.profile-info h3 {
    color: aliceblue;
    margin: 0;
    font-size: 1.5em;
}
.profile-info p {
    margin: 5px 0 0;
    font-size: 1em;
}
.trainer-4{
    width:100%;
    max-height: 276px;
    
   
    
    

}
.trainer-4 img{
    width: 100%;
    height: 100%;
    
}
/* .our-package-container start here  */
.our-package-container{
  max-width: 1260px;
  margin: 0 auto;
  padding-bottom: 50px;

}
.our-package-container>h1{
  text-align: center;
  margin-bottom: 50px;
}
.our-package-container h1{
  color: white;
  

}
.package-card{
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  gap: 20px;
}
.package-1{
  border: 1px solid rgba(202, 191, 191, 0.432);
  border-radius: 10px;
  padding-bottom: 20px;
  
}
.package-details{
  margin-left: 20px;
}
.package-details h2{
  color: white;
  font-weight: 700;
}
.package-card ul{
    list-style-type:none;
    padding: 0;
    margin: 20px 0;
}
.package-card ul li{
  list-style:inside;
  color: white;
  margin: 10px 0;
}
.package-card-img{
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    max-width:380px ;
    max-height: 286px;
}
.package-card-img img{
  width: 100%;
  
}
.price{
    font-size: 1.5rem;
    color: #f0e1e19c;
    margin-bottom: 20px;
}
.btn-buy-now{
    background-color: #8bc34a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
/* main section end here  */

/* footer  */
footer{
  
  padding-top: 50px;
}
.footer-head{
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 4.4rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.footer h3 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.footer{
  max-width: 1260px;
  margin: 0 auto;
  
  display: flex;
  justify-content: space-around;
  gap: 20px;
 
}
.footer-list{
  list-style: none;
}
.footer-list a{
  text-decoration: none;
  margin-top: 30px;
  list-style: none;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 400;
  
}
.footer-list li{
  margin: 20px 0;
  
}
.hr-line{
  max-width: 1159.5px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 35px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.all-right-reserved{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 35px;
}
.all-right-reserved p{
  font-size: 1.25rem;
  font-weight: 400;
}