@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-size: 9rem;
    font-weight: 400;
    font-style: normal;
  }
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: linear-gradient(180.00deg, #111111,rgba(75, 70, 70, 0.842) 100%);
    background-repeat: no-repeat;
    /* max-width: 1440px; */
    margin: 0 auto;

  }
  .btn-primary{
    color: white;
    text-align: center;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background-color:rgb(230, 83, 60) ;
  }
  p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    
  }

  /* heading section start here  */
  .header{
   
  }
  .navbar{
    
    align-items: center;
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 55px;
  }
  .navbar h1{
    font-size: 2.25rem;
    font-weight: 800;
    color:rgb(230, 83, 60) ;
  }
  .menu-item{
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius:50px 50px 50px 50px;
    
  }
  .menu-item li {
    list-style: none;
    text-decoration: none;
    margin-right: 47px;
    padding: 8px;

  }
  .home{
    background-color: rgb(230, 83, 60);
    border-radius: 50px;
    width: 150px ;
    text-align: center;
  }
  .menu-item a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
  }
  .icon-bar{
    color: aliceblue;
    display: none;
  }
  /* nav section end here  */
  .header-container{
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
    
    width: 100%;
  }
  .headline{
    justify-content: flex-start;
    
    
    
  }
  .headline h1{
    color: rgb(255, 255, 255);
    font-size: 4.87rem;
    font-weight: 900;

  }
  .headline>p{
    margin-top:1.75rem ;
    margin-bottom: 1.75rem;
  }
  .header-btn{
    width: 100%;
    display: flex;
    gap: 14px;
  }

  /* main section start here  */

  /* change-habit-container  */
  .change-habit-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    margin: 0 auto;
    margin-top: 100px;
  }
  .change-habit-heading{
    justify-content: center;
    text-align: center;
  }
  .h1-text{
    color: aliceblue;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;
  }
  .change-habit-container-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    width: 100%;
    margin-top: 58px;
    
    
  }
  .change-habit-container-card img{
    width: 100%;
    border-radius: 50%;

  }
  .change-habit-container-card h3{
    color: aliceblue;
    font-size: 1.125em;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 6px;


  }
  .change-habit-container-card p{
    text-align: center;
  }
  /* change-habit-container end */
  .run-extra{
    margin: 0 auto;
    margin-top: 100px;
    background-color: #11111157;
    max-width:1260px ;
    border-radius: 18px;

  }
  .run-extra-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    width: 100%;
    padding: 50px;
    
  }
  .run-extra-heading p{
    margin-bottom: 1em;

    

  }
  .run-extra-container-img{
    width: 40%;
  }
  .run-extra-container-img img{
    width: 100%;
    border-radius: 18px;
  }
  /* run extra container end  */
  .bmi-cal{
    
    display: flex;
    flex-direction: column;
    margin: 80px 20px;
    justify-content: flex-start;
    align-items: center;
  }
  .bmi-cal-chart{
    
    margin: 0 auto;
    display: flex;

    
  }
  .cal-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    

  }
  .cal-table{
    
    
  }
 
  .cal-h2-font{
    color: aliceblue;
    font-size: 1.75em;
    font-weight: 900;
    
    
  }
  table {
    border-collapse: collapse;
    margin: 30px 0;
    font-size: 1em;
    min-width: 300px;
    border: 1px solid #555;
}
th, td {
    padding: 12px 15px;
    border: 1px solid #998c8c67;
}
th {
    background-color: #444;
    color: #fff;
}
td {
    background-color: #666;
    color: #fff;
}

  .cal-ur-bmi{
    width: 60%;
  }
  .cal-ur-bmi h2{
    margin-bottom: 20px;
  }

  .form-container{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .full-width{
    grid-column: span 2;
  }
  input, select {
    width: 100%;
    padding:15px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.397);
    color: white;
    font-size: 1em;
  }
  select{
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
  }
